<h2>Log In</h2>
<form name="form" ng-submit="form.$valid && $ctrl.submit(username, password)" novalidate>
  <div class="form-group has-feedback" ng-class="{ 'has-danger': form.username.hasError() }">
    <input class="form-control" ng-class="{ 'form-control-danger': form.username.hasError() }" name="username" placeholder="Username" ng-model="username" required/>
    <form-errors for="form.username"></form-errors>
  </div>
  <div class="form-group has-feedback" ng-class="{ 'has-danger': form.password.hasError() }">
    <input class="form-control" ng-class="{ 'form-control-danger': form.password.hasError() }" name="password" placeholder="Password" ng-model="password" type="password" required/>
    <form-errors for="form.password"></form-errors>
  </div>
  <div class="media">
    <div class="media-left media-middle">
      <button class="btn btn-primary media-object" ng-disabled="form.$invalid && (form.$dirty || form.$submitted)">
        Log In
      </button>
    </div>
    <div class="media-body">&nbsp;</div>
    <div class="media-right media-middle">
      <a href="#" class="media-object" ui-sref="signup"> Sign Up </a>
    </div>
  </div>
</form>