<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <link href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/open-sans.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <script src="/vendor/lodash/lodash.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="/vendor/angular-messages/angular-messages.js"></script>

    <script src="/assets/main.js"></script>
  </head>
  <body ng-app="app">
    <div class="container">
      <uib-alert ng-repeat="alert in ctrl.alertService.alerts" type="{{alert.severity}}" close="closeAlert($index)">
        <strong>{{alert.title}}</strong>
        <p>{{alert.message}}</p>
      </uib-alert>

      <div class="row" ui-view></div>

      <!-- <authentication ng-if="!ctrl.authService.isLoggedIn()">   </authentication> -->
      <!-- <div class="row" ng-if="ctrl.authService.isLoggedIn()">
        <h2>Yolo!</h2>
      </div> -->
    </div>    
  </body>
</html>