<h2 uib-popover="yolo">Create Account</h2>

<form name="form" ng-submit="form.$valid && $ctrl.submit(username, password)" novalidate>
  <div class="form-group has-feedback" ng-class="{' has-error': form.username.hasError() }">
    <input class="form-control" name="username" placeholder="Username" ng-model="username" required/>
    <form-errors for="form.username"></form-errors>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error': form.password.hasError() } ">
    <input class="form-control" name="password" placeholder="Password" ng-model="password" type="password" required />
    <form-errors for="form.password"></form-errors>
    </span>
  </div>

  <div class="form-group has-feedback" ng-class="{' has-error': form.confirm.hasError() }">
    <input class="form-control" name="confirm" placeholder="Confirm" ng-model="confirm" ng-model-options="{ debounce: 200 }" type="password" required matches="password"/>
    <form-errors for="form.confirm"></form-errors>
  </div>

  <div class="media">
    <div class="media-left media-middle">
      <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid && (form.$dirty || form.$submitted)">
        Create Account
      </button>
    </div>
    <div class="media-body"></div>
    <div class="media-right media-middle">
      <a href="#" ui-sref="login" class="pull-right"> Log In </a>
    </div>
  </div>
</form>